@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2D2D2;
    background-image: repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px), repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
}

body, html {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 5;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.banner .slider .item a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3; /* Ensure links are on top */
}

.banner .slider .item a:hover {
    transform: scale(1.75); /* Zoom effect on hover */
    transition: transform 0.3s ease;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #252838;
    text-align: center;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: Poppins, sans-serif;
    text-align: right;
    max-width: 200px;
}

.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url(model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
}
.info {
    position: absolute;
    top: 20px; /* Adjust the top margin */
    left: 50%;
    font-weight: bolder;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}
/* Responsive Styles */
@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 300px;
        height: 400px;
        left: calc(50% - 80px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(400px);
    }
    .banner .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
        color: #252838;
    }
    .banner .content .author {
        color:#fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
    .banner .content .author p{
        color: #000;
        bottom: 10px;
        font-size: 20px;
    }

    
}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 190px;
        height: 290px;
        left: calc(50% - 100px);
    }
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }
    .banner .content h1 {
        font-size: 5em;
    }
    
}
